core-header-panel {
  background: black;
}
#top-toolbar {
  background-color: #1a154c;
}
#bottom-toolbar {
  background-color: #242d88;
  font-size: 12px;
  padding: 5px;
  text-align: right;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    color: #fff;
}

.dialog {
    font-size: 14px;
    background-color: #cccccc;
    color: #0f0f0f;
    padding: 20px;
}

.mybutton {
  font-size: 14px;
  background-color: #242d88;
  border-style: solid;
  border-color: #242d88;
  border-radius: 10%;
  height:10px;
  width: 55px;
}